extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm()")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="First name", value=firstName, required="")
            input(type="text", name="lastName", placeholder="Last name", value=lastName, required="")
            input(type="text", name="username", placeholder="Username", value=username, required="")
            input(type="email", name="email", placeholder="Email", value=email, required="")
            input#password(type="password", name="password", placeholder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm Password", required="")
            input(type="submit", value="Register")
        a(href="/login") Already has an account? Login here
    script.
        var password = document.getElementById("password")
        var passwordConf = document.getElementById("passwordConf")
        var form = document.getElementById("registerForm")

        function validateForm()  {
            if(password.value != passwordConf.value)    {
                alert("Passwords do not match")
            }
            else {
                form.submit();
            }
        }